```{=html}
<div class="features-grid">
  <% for (const item of items) { %>
    <div class="feature-card">
      <div class="feature-icon-container">
        <div class="feature-icon">
          <i class="<%= item.icon %>"></i>
        </div>
        <% if (item.badge) { %>
          <span class="experimental-badge"><%= item.badge %></span>
        <% } %>
      </div>
      
      <h3 class="feature-title">
        <%= item.title %>
      </h3>
      
      <p class="feature-description">
        <%= item.description %>
      </p>
      
      <% if (item.link && item.link !== "#") { %>
        <a href="<%= item.link %>" class="feature-link">
          View Docs
          <i class="bi-box-arrow-up-right"></i>
        </a>
      <% } %>
    </div>
  <% } %>
</div>
```