```{=html}
<% const profile = process.env.QUARTO_PROFILE || 'positron'; %>
<div class="custom-card-grid<%= items[0].columns === 2 ? ' columns-2' : '' %>">
  <% for (const item of items) { %>
    <% if (item['hide-profiles'] && item['hide-profiles'].includes(profile)) continue; %>
    <a href="<%= item.link %>" class="custom-card-wrapper">
      <div class="custom-card">
        <div class="custom-card-icon-container">
          <div class="custom-card-icon">
            <i class="<%= item.icon %>"></i>
          </div>
        </div>
        
        <h3 class="custom-card-title">
          <%= item.title %>
        </h3>
        
        <p class="custom-card-description">
          <%= item.description %>
        </p>
      </div>
    </a>  
  <% } %>
</div>
```